<div class="container my-3">
  <h2>Ejemplo Pipes Clase Angular</h2>
  <hr />
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Código pipes</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody>
      <!--1mro Uppercase-->
      <tr>
        <td>{{ nameSing }}</td>
        <td>uppercase</td>
        <td>{{ nameSing | uppercase}} </td>
      </tr>

      <!--2ndo Lowercase-->
      <tr>
        <td>{{ nameSing }}</td>
        <td>lowercase</td>
        <td>{{ nameSing | lowercase}}</td>
      </tr>

      <!--3ndo Slice -->
      <tr>
        <td>{{ nameSing }}</td>
        <td>lowercase</td>
        <td>{{ nameSing | slice:0:4}}</td>
      </tr>

      <!--4rto Slice: Con Lista-->
      <tr>
        <td>{{ Listadokorean }}</td>
        <td>lowercase</td>
        <td>{{ Listadokorean | slice:0:2}}</td>
      </tr>

      <!--5nto Slice: Con Lista y NgFor-->
      <tr>
        <td>{{ Listadokorean }}</td>
        <td>*ngFor="let valor of Listadokorean | slice:0:3"</td>
        <td>
          <ul>
            <li *ngFor="let valor of Listadokorean | slice:0:3">{{valor}}</li>
          </ul>
        </td>
      </tr>

      <!--6to Pipe: Decimal-->
      <tr>
        <td>{{ PI }}</td>
        <td>number</td>
        <td>{{ PI | number }}</td>
      </tr>
      <tr>
        <td>{{ PI }}</td>
        <td>number: '.0-2'</td>
        <td>{{ PI | number:'.0-2' }}</td>
      </tr>
      <!--7mo Pipe: Percent-->
      <tr>
        <td>{{ NumbPorcentaje }}</td>
        <td>percent</td>
        <td>{{ NumbPorcentaje | percent }}</td>
      </tr>
      <tr>
        <td>{{ NumbPorcentaje }}</td>
        <td>percent: '2.2-2'</td>
        <td>{{ NumbPorcentaje | percent: '2.2-2' }}</td>
      </tr>

      <!--8tvo Pipe: Currency-->
      <tr>
        <td>{{ supportSustenance }}</td>
        <td>currency</td>
        <td>{{ supportSustenance | currency }}</td>
      </tr>
      <tr>
        <td>{{ supportSustenance }}</td>
        <td>currency: 'JPY'</td>
        <td>{{ supportSustenance | currency:'JPY' }}</td>
      </tr>

      <!--9no Pipe: JSON-->
      <tr>
        <td>{{ persona }}</td>
        <td>JSON</td>
        <td>{{ persona | json }}</td>
      </tr>

      <!--10mo Pipe: DATE-->
      <tr>
        <td>{{ myDate }}</td>
        <td>Date</td>
        <td>{{ myDate | date }}</td>
      </tr>
      <tr>
        <td>{{ myDate }}</td>
        <td>Date: 'medium'</td>
        <td>{{ myDate | date: 'medium' }}</td>
      </tr>
      <tr>
        <td>{{ myDate }}</td>
        <td>Date: 'EEE, d of LLL of yyyy'</td>
        <td>
          <pre>{{ myDate | date: 'EEE, d of LLL of yyyy' }}</pre>
        </td>
      </tr>

      <!--11 Pipe: Personalizado-->
      <tr>
        <td> Mi Password </td>
        <td>
          <button class="btn btn-info" (click)="enable = !enable">
            <p *ngIf="enable" class="mb-0">Mostrar Password</p>
            <p *ngIf="!enable" class="mb-0">Ocultar Password</p>
          </button>
        </td>
        <td>{{ password | myPipe:enable }}</td>
      </tr>
    </tbody>
  </table>
</div>